.content {
    margin-left: 220px;
}

.content nav {
    background: #FDFDFD;
    height: 80px;
}

.posts-top {
    padding: 20px 40px;
    justify-content: space-between;
}

.posts-top h2 {
    font-size: 30px;
    font-weight: 300;
    text-transform: uppercase;
}


.posts-list {
    padding: 10px 20px;
}


.col-md-4 {
    -ms-flex: 0 0 33.33%;
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 10px;
}

.posts-list .post-row {
    display: flex;
    flex-wrap: wrap;
}

.modal-visible {
    display: block;
}

.modal {
    position: fixed;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 1, 1, 0.781);
    /* display: none; */
    z-index: 1000;
    border: 1px solid yellow;

}

.content {
    position: relative;
    border: 1px solid red;
}

