<div class="container">
    <div *ngIf="error">
        {{error}}
    </div>
    <div *ngIf="isLoading" style="text-align: center">
        <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
        <div>
            <label for="email">email</label>
            <input type="email" id="email" ngModel name="email" required email>
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" name="password" ngModel name="password"  required minlength="6">
        </div>
        <div>
            <button type="submit" [disabled]="!authForm.valid">{{isLoginMode ? 'Login' : 'Sign Up'}}</button>
            <button (click)="onSwitchMode()" type="button">Switch to {{isLoginMode ? 'Sign Up' : 'Login'}}</button>
        </div>
       
    </form>
</div>