<!--The content below is only a placeholder and can be replaced.-->


<div class="main-wrap">
    <div class="sidebar">
        <div class="logo">
            <h1><a href="">Interngram.</a></h1>

        </div>
        <div class="links-wrap">
            <ul>
                <li><a routerLink="posts">Home</a></li>
                <!-- <li><a href="">Login</a></li>
                <li><a href="">Logout</a></li> -->
            </ul>
        </div>
    </div>
    <router-outlet class="content-right"></router-outlet>
</div>