
.sidebar {
    width: 220px;
    min-width: 230px;
    max-width: 220px;
    height: 100%;
    background: #168EC6;
    padding: 20px 40px 10px 20px;
    position: absolute;
}

.sidebar .logo {
    margin-bottom: 30px;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.content-right {
    margin-left: 230px;
}