<div class="content-right">
    <div class="form-wrap">

        <form *ngIf="postForm" [formGroup]="postForm" (ngSubmit)="onSubmit()">
            <div class="input-row">
                <div class="title t-1">
                    <h1>Add Post.</h1>
                </div>
            </div>
            <div class="input-row">
                <label for="title">Type</label>
                <select formControlName="type" #type>
                    <option value="IMAGE">Image</option>
                    <option value="VIDEO">Video</option>
                    <option value="LINK">Link</option>
                </select>
            </div>

            <div class="input-row">
                <label for="title">Title</label>
                <input type="text" id="title" formControlName="title">
            </div>
            <div class="input-row" *ngIf="type.value == 'IMAGE'">
                <label for="alt">ALt</label>
                <input type="text" id="alt" formControlName="postMetaAlt" #alt>
            </div>
            <div class="input-row">
                <label for="">Url</label>
                <input type="text" id="metaUrl" formControlName="postMetaUrl" #url (input)="onKey($event)">
            </div>

            <!-- <div class="video-preview" *ngIf="type.value == 'VIDEO'">
                <iframe width="677" height="381" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen #videoElement></iframe>
            </div> -->
            <div class="input-row">
                <div class="d-flex">
                    <div class="buttons">
                        <button type="submit" class="btn" [disabled]="!postForm.valid">Edit</button>
                        <button type="submit" class="btn btn-cancel" (click)="onCancel()">Cancel</button>
                    </div>
                    <div class="preview" #imgPreview>
                        <div *ngIf="type.value == 'IMAGE'">
                            <!-- <img [src]="imageLink" alt=""> -->
                            <img [src]="imageLink" alt="">
                        </div>
                        <div *ngIf="type.value == 'VIDEO'">
                            <a [href]="videoLink" target="_blank">
                                <img [src]="imageLink" alt="">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>