<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit(f)" #f="ngForm">
        <div id="user-data" ngModelGroup="userData" #userData="ngModelGroup">
          <div class="form-group">
            <label for="username">Username</label>
            <input type="text" id="username" class="form-control" ngModel name="name">
          </div>
          <button class="btn btn-default" type="button" (click)="suggestUsername">Suggest an Username</button>
          <div class="form-group">
            <label for="email">Mail</label>
            <input type="email" 
            id="email" 
            class="form-control" 
            ngModel name="email" 
            required 
            email 
            #email="ngModel">
            <span class="help-block" *ngIf="!email.valid && email.touched">Please enter valid email</span>
          </div>
        </div>
        <div class="form-group">
          <label for="secret">Secret Questions</label>
          <select id="secret" class="form-control" ngModel name="secret" [ngModel]="defaultQuestion">
            <option value="pet">Your first Pet?</option>
            <option value="teacher">Your first teacher?</option>
          </select>
        </div>
        <p *ngIf="!userData.valid && userData.touched">User data is invalid</p>
        <div class="form-group">
          <textarea name="questionAnswer" id="" cols="30" rows="3" [(ngModel)]="answer" class="form-control"></textarea>
        </div>
        <p>Your reply {{ answer }}</p>
        <div class="radio" *ngFor="let gender of genders">
          <label for="">
            <input type="radio" name="gender" ngModel [value]="gender" required>{{gender}}
          </label>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!f.valid">Submit</button>
      </form>
      <hr>
      <h3>Your Data</h3>
    </div>
  </div>
  <div class="row" *ngIf="submitted">
    <div class="col-xs-12">
       <h3>Your Data</h3>
       <p>Username: {{user.username}}</p>
       <p>Mail: {{user.email}}</p>
       <p>Secret question: {{user.secretQuestion}}</p>
       <p>Answer: {{user.answer}}</p>
       <p>Gender: {{user.gender}}</p>
    </div>
  </div>
</div>
