<div class="container">
  <div class="row space-top">
    <div class="col-md-12">
      <h1>Create New Furniture</h1>
      <p>Please fill all fields.</p>
    </div>
  </div>
  <form [formGroup]="form" (submit)="createFurniture()">
    <div class="row space-top">
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-control-label" for="new-make">Make</label>
          <input class="form-control" id="new-make" formControlName="make" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.make.touched && f.make.errors?.required">
          This fields is required
        </div>
        <div class="alert alert-danger" *ngIf="f.make.errors?.minlength">
          Length must be at least {{ f.make.errors.minlength.requiredLength }} chars long.
        </div>
        <div class="form-group has-success">
          <label class="form-control-label" for="new-model">Model</label>
          <input class="form-control is-valid" id="new-model" formControlName="model" type="text">

        </div>
        <div class="alert alert-danger" *ngIf="f.model.touched && f.model.errors?.required">
          This fields is required
        </div>
        <div class="alert alert-danger" *ngIf="f.model.errors?.minlength">
          Length must be at least {{ f.model.errors.minlength.requiredLength }} chars long.
        </div>
        <div class="form-group has-danger">
          <label class="form-control-label" for="new-year">Year</label>
          <input class="form-control is-invalid" id="new-year" formControlName="year" type="number">
        </div>
        <div class="alert alert-danger" *ngIf="f.year.touched && f.year.errors?.required">
          This fields is required
        </div>
        <div class="alert alert-danger" *ngIf="f.year.errors?.min">
          Year must start from {{f.year.errors.min.min}}
        </div>
        <div class="alert alert-danger" *ngIf="f.year.errors?.max">
          Year must be before {{f.year.errors.max.max}}
        </div>
        <div class="form-group">
          <label class="form-control-label" for="new-description">Description</label>
          <input class="form-control" id="new-description" formControlName="description" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.description.touched && f.description.errors?.required">
          This fields is required
        </div>
        <div class="alert alert-danger" *ngIf="f.description.errors?.minlength">
          Length must be at least {{ f.description.errors.minlength.requiredLength }} chars long.
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="form-control-label" for="new-price">Price</label>
          <input class="form-control" id="new-price" formControlName="price" type="number">
        </div>
        <div class="alert alert-danger" *ngIf="f.price.touched && f.price.errors?.required">
          This fields is required
        </div>
        <div class="alert alert-danger" *ngIf="f.price.errors?.min">
          Min length must be at least {{f.price.errors.min.min}}
        </div>
        <div class="form-group">
          <label class="form-control-label" for="new-image">Image</label>
          <input class="form-control" id="new-image" formControlName="image" type="text">
        </div>
        <div class="alert alert-danger" *ngIf="f.image.touched && f.image.errors?.required">
          This fields is required
        </div>
        <div class="form-group">
          <label class="form-control-label" for="new-material">Material (optional)</label>
          <input class="form-control" id="new-material" formControlName="material" type="text">
        </div>
        <input type="submit" class="btn btn-primary" value="Create" [disabled]="invalid"/>
      </div>
    </div>
  </form>
</div>