<div class="container">
  <div class="row space-top">
      <div class="col-md-12">
          <h1>Welcome to Furniture System</h1>
          <p>Select furniture from the catalog to view details.</p>
      </div>
  </div>
      <div class="row space-top" *ngIf="furniture$; else loading">
          <div class="col-md-4" *ngFor="let f of furniture$ | async">
              <div class="card text-white bg-primary">
                  <div class="card-body">
                      <blockquote class="card-blockquote">
                          <img src="{{f.image}}" />
                          <p>{{f.description | slice:0:11...}}</p>
                          <footer>Someone famous in
                              <cite title="Source Title">Source Title</cite>
                          </footer>
                          <div class="pull-right">
                              <a [routerLink]="['/furniture/details', f._id]" class="btn btn-info">Details</a>
                          </div>
                      </blockquote>
                  </div>
              </div>
          </div>
      </div>
      <ng-template #loading>
        <div class="row">
            <div class="col-lg4"></div>
            <div class="col-lg4"><h1>Loading</h1></div>
            <div class="col-lg4"></div>
        </div>
      </ng-template>
</div>
