<div class="container">
  <nav>
    <ul><li>
      <a routerLink="/auth" *ngIf="!isAuthenticated">Login</a>
      <a *ngIf="isAuthenticated" (click)="onLogout()">Logout</a>
    </li></ul>
  </nav>
</div>