@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap');

nav {
    height: 80px;
    width: 100%;
    background: #5a5560;
    color: #faed26;
}

nav a {
    color: #faed26;
    text-decoration: none;
    font-size: 20px;
    text-transform: uppercase;
}

nav ul {
    height: 80px;

}