@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: #fff;
}


.btn {
    outline: none;
    border: 1px solid #168EC6;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #168EC6;
    cursor: pointer;
    background: #F5F5F5;
    transition: .2s all ease-in-out;
 }
 
 .btn:hover {
     background: #168EC6;
     color: #fff;
 }


.d-flex {
    display: flex;
}

.t-1 {
    color: #168EC6;
    font-size: 24px;
}