<div class="container">
  <div class="row space-top">
      <div class="col-md-12">
          <h1>Furniture Details</h1>
      </div>
  </div>
  <div class="row space-top">
      <div class="col-md-4">
          <div class="card text-white bg-primary">
              <div class="card-body">
                  <blockquote class="card-blockquote">
                      <!-- <img src="{{furniture.image}}" /> -->
                  </blockquote>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <p>Make: {{furniture.make}}</p>
          <p>Model: {{furniture.model}}</p>
          <p>Year: {{furniture.year}}</p>
          <p>Description: {{furniture.description}}</p>
          <p>Price: {{furniture.price}}</p>
          <p>Material: {{furniture.material}}</p>
      </div>
  </div>
</div>
