<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onlyOdd = !onlyOdd">Only show odd numbers</button>
      <br><br>
      <ul class="list-group">
        <div *ngIf="onlyOdd">
          <li class="list-group-item"  *ngFor="let odd of oddNumbers">
            {{odd}}
          </li>
        </div>
        <div *ngIf="!onlyOdd">
          <li class="list-group-item"  *ngFor="let even of evenNumbers">
            {{even}}
          </li>
        </div>
      </ul>
      <ng-template [ngIf]="onlyOdd">
        <p>Only odd</p>
      </ng-template>

      <p appBasicHighlight>Style me with basic directive</p>
      <p appBetterHighlight [deafultColor]="'yellow'" [highlightColor]="'red'">Style me with better directive</p>
    </div>
  </div>
</div>