.post-card-wrap {
    background: #fff;
    border-radius: 2px;
}

h3 {
    font-size: 18px;
    font-weight: 300;

}

.card-desc-body {
    padding: 10px;
}

.card .footer {
    padding: 10px;
    background: #168EC6;
    color: #fff;
    text-align: center;
}

img {
    width: 100%;
}
