<div >
  <div class="post-card-wrap">
      <div class="card">
          <div class="img">
              <img [src]="post.meta.thumbnail"
                  alt="">
                  <div class="overlay">
                      <mat-icon>create</mat-icon>
                  </div>
          </div>
          <div class="card-desc-body">
              <div class="title">
                  <h3>{{post.title}}</h3>
                  <p>{{post.type}}</p>
              </div>

          </div>
          <div class="footer">
              <a  (click)="onEditPost()">Edit Post</a>
              <a  (click)="onDeletePost()">Delete Post</a>
              <a  (click)="onView()">View Post</a>
          </div>
      </div>
  </div>
</div>