.modal {
    position: fixed;
    /* position: absolute; */
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(1, 1, 1, 0.781);
    /* display: none; */
    z-index: 1000;
    position: relative;
    border: 1px solid yellow;

}